In [168]:
from itertools import combinations
from numpy import prod
import pandas as pd

### a pandas solution

### Part 1

In [209]:
with open('aoc10.txt') as f:
    jolts = [0] + [int(x.strip('\n')) for x in f.readlines()]
jolts.append(max(jolts)+3)
jolts.sort()

In [57]:
df = pd.DataFrame(jolts)
df['diff'] = df[0] - df[0].shift(1)

In [47]:
df['diff'].value_counts().loc[3] * df['diff'].value_counts().loc[1]

1904

### Part 2

In [361]:
with open('aoc10.txt') as f:
    jolts = [0] + [int(x.strip('\n')) for x in f.readlines()]
jolts.sort()

In [362]:
# let's find the chunks that can be altered

df = pd.DataFrame(jolts)
df['diff'] = df[0] - df[0].shift(1)
df['border'] = ((df['diff'] == 3) & ((df['diff'].shift(-1) == 1) | (df['diff'].shift(1) == 1)) )
df['chunk'] = df['border'].cumsum()

chunks = df.groupby('chunk') \
            .apply(lambda x: x[0]) \
            .reset_index() \
            .pivot_table(columns = 'chunk', values = 0, aggfunc=lambda x:list(x)) \
            .T
chunks['len'] = chunks[0].apply(lambda x: len(x))
chunks = chunks[chunks['len'] > 1].copy()

In [353]:
# how many valid combinations are possible for each chunk size
comb_dict = {}
for n in chunks['len'].unique():    
    l = list(range(n))
    valids = 0
    for i in range(1,len(l)+1):
        for comb in combinations(l,i):
            newlist = [-3] + list(comb) + [n+2]
            if max([x - newlist[i - 1] for i, x in enumerate(newlist)][1:]) <= 3:
                valids += 1
    comb_dict[n] = valids
comb_dict

{2: 1, 5: 7, 4: 4, 3: 2}

In [363]:
chunks['combs'] = chunks['len'].map(comb_dict)

In [335]:
prod(chunks['combs'])

10578455953408

In [340]:
chunks

                               0  len  combs
chunk
0                      [0, 1, 2]    3      2
1                         [5, 6]    2      1
2            [9, 10, 11, 12, 13]    5      7
4           [19, 20, 21, 22, 23]    5      7
5           [26, 27, 28, 29, 30]    5      7
6           [33, 34, 35, 36, 37]    5      7
7               [40, 41, 42, 43]    4      4
8                   [46, 47, 48]    3      2
10                      [54, 55]    2      1
11                      [58, 59]    2      1
12              [62, 63, 64, 65]    4      4
13                  [68, 69, 70]    3      2
15                  [76, 77, 78]    3      2
16              [81, 82, 83, 84]    4      4
18          [90, 91, 92, 93, 94]    5      7
19             [97, 98, 99, 100]    4      4
21          [106, 107, 108, 109]    4      4
22     [112, 113, 114, 115, 116]    5      7
23     [119, 120, 121, 122, 123]    5      7
24          [126, 127, 128, 129]    4      4
25          [132, 133, 134, 135]    4      4
26     [138, 139, 140, 141, 142]    5      7
27     [145, 146, 147, 148, 149]    5      7